/* TAG SELECTORS */

img {
    height:200px;
    width:200px;
}

/* CLASS SELECTORS */

.color-title {
    font-weight:normal;
}

/* COMBINED SELECTORS */

#red.color-title {
    color:red;
}

#blue.color-title {
    color:blue;
}

#orange.color-title {
    color:orange;
}

#green.color-title {
    color:green;
}

#yellow.color-title {
    color:yellow;
}